---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="landing-box p-4 d-flex flex-column align-items-center">
      <h1>fuzzyfuture.net</h1>
      <h2><a class="enter" href="/home">enter</a></h2>
    </div>
  </div>
</Layout>
